<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand" id="nav_bar" style="background-color: black">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a href="/"class="nav-link" style="text-align: center">About Me</a>
	      </li>
	      <li class="nav-item">
	        <a href="/tech_skills"class="nav-link" style="text-align: center">Technical Skills</a>
	      </li>
	      <li class="nav-item">
	        <a href="/projects" class="nav-link">Projects</a>
	      </li>
	      <li class="nav-item">
	        <a href="/contact" class="nav-link">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container" id="container">
	<div class="row" id="title_div">
		<div class="col col-1"></div>
		<div class="col col-10" id="title_segment" style="text-align: center;">
			<h1 style="font-size:5vw">Austin Parham</h1>
			<h3 style="font-size:4vw">Full Stack Developer</h3>
			<h3 style="font-size:4vw">Software Engineer</h3>
			<a class="btn btn-success" style="font-size:3vw;color:white;" href="austin_parham_resume.pdf" download="austin_parham_resume.pdf">Download Resume</a>
		</div>
		<div class="col col-1"></div>
	</div>
	<div class="row">
		<div class="col col-12 align-middle" id="about_me"><h2 style="font-size: 25; text-align:center;">Welcome!</h2><p style="font-size: 20; text-align: justify;">Thank you for viewing my page! My name is Austin Parham and I am Web Developer and Software Engineer having recently graduated from the Coding Dojo bootcamp with the highest assessment marks in both Python, Ruby, and their respective MVC frameworks. I’m currently looking for an opportunity to become an immediate asset in a company that will allow me to deepen and expand upon my current arrangement of skills. My previous work experience in Program Directing helped me discover that it has always been my passion to use my creativity and critical thinking to build things to make everyday processes easier. The most recent example would be my work as a Cruise Director where my primary responsibility was the coordination of ship and shore tour schedules. In 2017 I was selected as the Cruise Director to partake in the opening of a brand new ship that did not have logistical procedures fully mapped out. I was able to gather the information needed, such as the estimated time it would take to get passengers to and from shore, to implement a schedule that was 100% accurate on a weekly basis. My Bachelor’s Degree in Marketing from Iowa State University also played a role in my success as a Cruise Director where another responsibility of mine was to meet a cruise renewal sales goal of 10% of passengers, which generated an average of $40,000 on a weekly basis. If you have any questions, you can find my email on the contact tab. <br>Enjoy your visit!<br>-Austin</p></div>
	</div>
</div>
</body>