<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand" id="nav_bar" style="background-color: black">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a href="/"class="nav-link" style="text-align: center">About Me</a>
	      </li>
	      <li class="nav-item">
	        <a href="/tech_skills"class="nav-link" style="text-align: center">Technical Skills</a>
	      </li>
	      <li class="nav-item">
	        <a href="/projects" class="nav-link">Projects</a>
	      </li>
	      <li class="nav-item">
	        <a href="/contact" class="nav-link">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container" style="text-align: center;">
		<div class=" row row_bar" style="text-align: center; background-color: orange;">
			<h2 class="mx-auto" style="text-align: center;"><u>Email</u></h2>
		</div>
		<div class="row">
			<h2 class="mx-auto" style="text-align: center;font-size:4vw"><a href="mailto: austinmparham@gmail.com">austinmparham@gmail.com</a></h2>
			<h4 class="mx-auto" style="text-align: center;font-size: 3vw;">Click the link to send me an email.<br>(I will most likely reply within 24 hours.)</h4>
		</div>
		<!-- <div class="row" style="margin-top:5%;">
			<div class="col col-2"></div>
			<div class="col col-8">
				<form style="background-color:orange; padding-top: 5%; padding-bottom:5%;">
					<label>Name:
						<input type="text" name="name" style="text-align:left;">
					</label><br><br>
					<label>Email:
						<input type="email" name="email" style="text-align:left;">
					</label><br><br>
						<textarea rows="5" cols="30" placeholder="Leave your message!" style="font-size:2.5vw; text-align:left;"></textarea><br>
					<input type="submit" value="Send Message">
				</form>
			</div>
			<div class="col col-2"></div>
		</div> -->
		<div class="row row_bar" style="text-align: center; background-color: orange; margin-bottom:2%;">
			<h2 class="mx-auto" style="text-align: center;"><u>Other Sites</u></h2>
		</div>
		<h4>Use the picture links below to view different web content!</h4>
		<div class="row">
			<div class="col col-6 contact-img">
				<a href="https://github.com/austinmparham"><img src="git_hub.jpg"></a>
			</div>

			<div class="col col-6 contact-img">
				<a href="https://www.linkedin.com/in/austinmparham/"><img src="linkedin.jpg"></a>
			</div>
		</div>
	</div>
</body>