<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand" id="nav_bar" style="background-color: black">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a href="/"class="nav-link" style="text-align: center">About Me</a>
	      </li>
	      <li class="nav-item">
	        <a href="/tech_skills"class="nav-link" style="text-align: center">Technical Skills</a>
	      </li>
	      <li class="nav-item">
	        <a href="/projects" class="nav-link">Projects</a>
	      </li>
	      <li class="nav-item">
	        <a href="/contact" class="nav-link">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
	<div class="row" style="margin-top:5%">
		<div class="col col-12">
			<h2>Socket Man</h2>
			<h4>(Featured technologies: JavaScript, Express, socket.io)</h4>
			<p>This is a collaboration project conducted by myself and two of my cohort mates. Its foundation is a JavaScript game we created before the course had started. Our goal was to incorporate socket.io and Express.js to fashion a scoreboard that would share the scores and remaining lives of all players that were currently playing the game. We also improved upon the ghost AI and added buttons for movement for those on a mobile platform. Socket.io is a very fun technology that assists in the making of everyday social apps such as instant messaging with relative ease and speed.</p>
		</div>
	</div>
	<div class="row">
		<div class="col col-12">
			<a href="http://www.socket-man.com">www.socket-man.com</a>
			<p>(Please be sure to hit the log out button before closing the screen!)</p>
		</div>
	</div>
	<div class="row">
		<div class="col col-1"></div>
		<div class="col col-10">
			<img src="socket_man.PNG" style="width: 80%;">
		</div>
		<div class="col col-1"></div>
	</div>
	<div class="row" style="margin-top:5%">
		<div class="col col-12">
			<h2>Roll Call</h2>
			<h4>(Featured Technologies:Python, Django, Bootstrap, OpenCV, face_recognition, dlib, bcrypt, numpy)</h4>
			<p>Roll Call is my very first project. One of my previous titles was Site Director for the YMCA, so I built this web-app to modernize the process of checking in kids. I incorporated face recognition software to use a computer's webcam to cross-reference the database. Will go live soon!</p>
			<p style="text-align: center;"><video width="320" height="240" controls>
				<source src="rollcall_demo.mp4.mp4" type="video/mp4">
			</video></p>
<!-- 			<a href="http://www.approllcall.com">approllcall.com</a> -->
<!-- 			<p>(Looks best on Mozilla Firefox!)</p>
			<p>Instructions:</p> -->
<!-- <ul>
	<li>*Must use on a computer with a webcam to do the demo!*</li>
	<li>To log in:</li>
	<ul>
		<li>Email: guestelem@guest.com</li>
		<li>Password: guestpw2!</li>
	</ul> -->
<!-- 	<li>Go to 'View Currently Enrolled Kids' then 'Register a new child'</li> -->
<!-- 	<li>Fill in the Child's Parent,First Name, Last Name, Age and Grade portions of the form. (Conditions and Allergies are optional.)</li> -->
<!-- 	<li>Click 'Register' at the bottom</li> -->
<!-- </ul> -->
<!-- <p>At this time your camera will activate and being searching for a face. Once one is found, it will route back to the Current Enrollment.</p> -->
<!-- <ul>
	<li>Click 'Back' and go to 'Create a Roster'</li>
	<li>Click 'Begin Live Check-In.' This will once again activate your web camera and begin looking for a face.</li>
	<li>Once it finds a match, it will then begin to compare them with other face codes it has stored.</li>
	<li>When a face matches, it will turn their status from 'Absent' to 'Present'</li>
	<li>*You will have to click the 'Begin Live Check-in' link every time to check a new face*</li>
	<li>Once ready, you can 'Submit Roster' and the attendance can be viewed on by clicking 'View Previous Rosters' on the main page.</li>
</ul> -->
		</div>
	</div>
	<div class="row" style="margin-top:5%">
		<div class="col col-12">
			<h2>XIV BLU Spellbook</h2>
			<h4>(Featured technologies: Python, Django, Bootstrap, Popper.js)</h4>
			<p>This project's focus was to create something that could serve the immediate need of a community. The app hosts a database of spells that can be acquired through the game of Final Fantasy XIV. The most challenging thing with this assignment was figuring out a design that would best service the widest audience. <a href="http://13.58.181.141/">Click here to view.</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col col-1"></div>
		<div class="col col-10">
			<img src="blu_app.JPG" style="width: 80%;">
		</div>
		<div class="col col-1"></div>
	</div>
	<!-- <div class="row" style="margin-top:5%">
		<div class="col col-12">
			<p class="mx-auto" style="text-align: center;">*(This site itself utilizes Bootstrap and Angular!)*<p>
		</div>
	</div> -->
	</div>
</body>