<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav class="navbar navbar-expand" id="nav_bar" style="background-color: black">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a href="/"class="nav-link" style="text-align: center">About Me</a>
	      </li>
	      <li class="nav-item">
	        <a href="/tech_skills"class="nav-link" style="text-align: center">Technical Skills</a>
	      </li>
	      <li class="nav-item">
	        <a href="/projects" class="nav-link">Projects</a>
	      </li>
	      <li class="nav-item">
	        <a href="/contact" class="nav-link">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container" style="text-align: center;">
		<!-- ---------------------------------------------------------------------- -->
	<div class="row bg-info" style="text-align: center; color: black; margin-top:5%;">
		<h2 class="mx-auto align-middle" style="text-align: center; text-decoration: underline">Languages</h2>
	</div>
	<div class="row bg-info" style="margin-bottom:5%; margin-top:2%;">
		<div class="col col-3">
			<div class="logo">
				<img src="html_js_css.png" class="tech_logo align-middle" style="margin-top: 15%; margin-bottom:15%;"><span class="logohover">HTML 5, JavaScript, CSS</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="python.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top:15%; margin-bottom:15%;"><span class="logohover">Python</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="ruby.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top: 15%"><span class="logohover">Ruby</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="type_script.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top: 15%"><span class="logohover">Typescript</span>
			</div>
		</div>
	</div>
		<!-- ---------------------------------------------------------------------- -->
	<div class="row" style="text-align: center; background-color: #FF66B2;">
		<h2 class="mx-auto" style="text-align: center; text-decoration: underline">Frameworks</h2>
	</div>
	<div class="row" style="margin-top:2%; background-color: #FF66B2;">
		<div class="col col-4">
			<div class="logo">
				<img src="angular.png" class="second_row_logo"><span class="logohover">Angular</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="bootstrap.png" class="second_row_logo" style="width:110%"><span class="logohover">Bootstrap</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="express_js.png" class="second_row_logo"><span class="logohover">Express.js</span>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:5%; background-color: #FF66B2;">
		<div class="col col-4">
			<div class="logo">
				<img src="flask.png" class="tech_logo"><span class="logohover">Flask</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="django.png" class="tech_logo" style="width:80%"><span class="logohover">Django</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="rails.png" class="tech_logo"><span class="logohover">Rails</span>
			</div>
		</div>
	</div>
	<!-- ---------------------------------------------------------------------- -->
	<div class="row" style="text-align: center; background-color: #99FF99;">
		<h2 class="mx-auto" style="text-align: center; text-decoration: underline">Databases</h2>
	</div>
	<div class="row" style="margin-top:2%; background-color: #99FF99;">
		<div class="col col-4">
			<div class="logo">
				<img src="mongoose.png" class="tech_logo" style="width:100%;"><span class="logohover">Mongoose</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="mongodb.png" class="tech_logo align-middle" style="width:110%"><span class="logohover">MongoDB</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="postgresSQL.png" class="tech_logo"><span class="logohover">postgresSQL</span>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:5%; background-color: #99FF99;">
		<div class="col col-4">
			<div class="logo">
				<img src="mysql.png" class="tech_logo"><span class="logohover">MySQL</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="SQLite.png" class="tech_logo" style="width:110%"><span class="logohover">SQLite</span>
			</div>
		</div>
		<div class="col col-4">
			<div class="logo">
				<img src="nosql.png" class="tech_logo"><span class="logohover">NoSQL</span>
			</div>
		</div>
	</div>
	<!-- ---------------------------------------------------------------------- -->
	<div class="row" style="text-align: center; color: black; margin-top:5%; background-color: #7F00FF;">
		<h2 class="mx-auto align-middle" style="text-align: center; text-decoration: underline;">Miscellaneous</h2>
	</div>
	<div class="row" style="margin-top:2%; background-color: #7F00FF;">
		<div class="col col-3">
			<div class="logo">
				<img src="github.png" class="tech_logo align-middle" style="margin-top: 15%; margin-bottom:15%;"><span class="logohover">Github</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="jquery.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top:15%; margin-bottom:15%;"><span class="logohover">jQuery</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="open_cv.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top: 15%"><span class="logohover">OpenCV</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="npm.png" class="tech_logo align-middle" style="width:100%; height:auto; margin-top: 35%"><span class="logohover">NPM</span>
			</div>
		</div>
	</div>
	<div class="row" style="background-color: #7F00FF;">
		<div class="col col-3">
			<div class="logo">
				<img src="aws.png" class="tech_logo align-middle" style="margin-top: 25%; margin-bottom:15%; width:100%;"><span class="logohover">Amazon Web Service</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="vagrant.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top:15%; margin-bottom:15%;"><span class="logohover">Vagrant</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="ajax.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top: 15%"><span class="logohover">AJAX</span>
			</div>
		</div>
		<div class="col col-3">
			<div class="logo">
				<img src="nodejs.png" class="tech_logo align-middle" style="width:80%; height:auto; margin-top: 15%"><span class="logohover">Node.js</span>
			</div>
		</div>
	</div>
</body>